<div class="row justify-content-center">
  <div class="col-sm-4">
    <h1><%= t('.title', resource: resource_name.to_s.humanize) %></h1>
    <%= render :partial => "/devise/forms/users_form" %>
    <p><%= t('.unhappy') %>
      ? <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: t('.are_you_sure')}, method: :delete %>
      .</p>
    <%= link_to t('devise.shared.links.back'), :back %>
  </div>
</div>
